:root {
  --default-font: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font);
  margin: 0;
}

.hero {
  background: linear-gradient(rgba(1, 59, 72, 0.6), rgba(1, 59, 72, 0.6)),
    url("../images/background-hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 290px 0 300px;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 96px;
  margin: 5px;
  line-height: 1.5;
}

.hero h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2.5px;
}

.hero h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 55px;
  font-weight: 300;
  line-height: 1.5;
}

.hero-btn {
  color: #272044;
  background-color: white;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 50px;
  padding: 120px 100px;
  background: linear-gradient(rgba(1, 59, 72, 0.9), rgba(1, 59, 72, 0.9)),
    url("../images/youghal_town_harbour.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .footer-column {
  padding: 20px;
} */

.footer-column h3 {
  color: white;
}

.footer-column p,
.youghal-links {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.footer-column p {
  line-height: 1.8;
}

.youghal-links {
  text-decoration: none;
  line-height: 2;
}

.youghal-links:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .footer-grid {
    grid-template-columns: 1fr 2fr;
    padding: 120px 50px;
  }
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .hero h3 {
    font-size: 18px;
  }

  .hero h2 {
    font-size: 25px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }
}
