:root {
  --default-font: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font);
  margin: 0;
}

.hero {
  background: linear-gradient(rgba(1, 59, 72, 0.6), rgba(1, 59, 72, 0.6)),
    url("../images/background-hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 300px;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 96px;
  margin: 5px;
  line-height: 1.5;
}

.hero h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2.5px;
}

.hero h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 55px;
  font-weight: 300;
  line-height: 1.5;
}

.hero-btn {
  color: #272044;
  background-color: white;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

.grid {
  display: grid;
  grid-gap: 50px;
  padding: 120px 100px;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  background: linear-gradient(rgba(1, 59, 72, 0.9), rgba(1, 59, 72, 0.9)),
    url("../images/youghal-footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.insta-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 20px;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px 0;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.responsive-img {
  width: 100%;
  filter: brightness(120%) contrast(70%) sepia(20%);
}

.responsive-img-2 {
  width: 50%;
}

.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}

main h2 {
  font-size: 40px;
  padding: 10px 0 0;
  margin: 0 0 15px 0;
}

main h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(7, 7, 7, 0.3);
  letter-spacing: 2.5px;
  margin: 0;
}

main h5 {
  margin-bottom: 0;
}

main p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(7, 7, 7, 0.7);
  line-height: 1.5;
  padding-bottom: 10px;
}

main .secondary-section {
  background: #f8f8f8;
}

.section-2-3 {
  padding: 100px;
}

.section-2-3 h2,
.section-2-3 h4 {
  text-align: center;
}

.card {
  background: white;
}

.img-map-container {
  display: flex;
  justify-content: center;
}

.card h3 {
  font-size: 24px;
  margin: 0;
}

.card-btn-container {
  margin-top: 50px;
}

.card-content {
  padding: 30px;
}

.card-btn {
  color: white;
  background-color: #272044;
  display: block;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

.footer-column h3 {
  color: white;
}

.footer-column h3 {
  font-size: 20px;
}

.footer-column p,
.youghal-links {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.footer-column p {
  line-height: 1.8;
}

.youghal-links {
  text-decoration: none;
  line-height: 2;
}

blockquote {
  display: block;
  margin: 0 auto;
}

.youghal-links:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .hero {
    padding: 190px 0 200px;
  }

  .grid {
    padding: 100px 50px;
    grid-gap: 30px;
  }

  .grid-3-columns,
  .grid-2-columns,
  .grid-3-columns-first-narrow,
  .insta-grid {
    grid-template-columns: 1fr;
  }

  .grid-3-columns {
    padding: 20px 0;
  }

  .insta-grid {
    padding: 0;
  }
}

@media (max-width: 960px) {
  .hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .hero h3 {
    font-size: 18px;
  }

  .hero h2 {
    font-size: 25px;
  }

  main h2 {
    font-size: 30px;
  }

  .section-2-3 {
    padding: 50px 20px;
  }
}
